<footer>
    <div> <h2>Category</h2>
        <div>Our Service</div>
        <div>Contact Us</div>
        <div>Link Us</div>
        <div>Feedback</div>
    </div>

    <div><h2>Connect Us</h2>
        <div> <a href="https://www.facebook.com/profile.php?id=100065275489003" target="_blank"  rel="noopener noreferrer">Facebook</a></div>
        <div>Twitter</div>
        <div> <a href="https://api.whatsapp.com/send?phone=%2B19366688366&data=ARCv-qJz7ErgqXgxADKo7SL4b4hGEjt8XMY0Nk55q3VJxcfY81pXHrX96qfgptxDSoR4WsMf-tVZBRthbavOPsoryiAWGboqm-YYjA_QG0On4vVLpIikNNRM_aEArtoeJ8t2x214HVCh829NozdRRu74yQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR0h1pTfOy0USAqxGlLz2YJbzkbbHELn5x_XPnvmodQc9zQ0OzcQXF4PHpk"  target="_blank"  rel="noopener noreferrer"> WhatsApps</a> </div>
        <div>Blogs</div>
    </div>
       
    <div>
        <strong>Address:<br>
            <i>415 E. Airport Freeway, <br> <br>Suite #365 , Irving, TX, <br><br>United States, 75062</i>
        </strong>
    </div>
    <div class="reserve">
        All Copyright Reserved &copy; WhiteGold Consultancy 2021-2023
    </div>
</footer>