<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <table>
        <caption>
            <h2>Apply For Position</h2>
        </caption>

        <tr>
            <td>
                <div class="table-cell">Full Name<span>*</span></div>
            </td>
            <td>
                <div class="table-cell">
                    <input type="text" formControlName="fullname">
                    <div *ngIf="contactForm.get('fullname')?.invalid && (contactForm.get('fullname')?.dirty || contactForm.get('fullname')?.touched)"
                        class="error">
                        Your Full Name.
                    </div>
                </div>
            </td>
        </tr>



        <tr>
            <td>
                <div class="table-cell">Email<span>*</span></div>
            </td>
            <td>
                <div class="table-cell">
                    <input type="email" formControlName="email">
                    <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)"
                        class="error">
                        Invalid Email.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="table-cell">Phone<span>*</span></div>
            </td>
            <td>
                <div class="table-cell">
                    <input type="tel" formControlName="phone">
                    <div *ngIf="contactForm.get('phone')?.errors?.['pattern'] && (contactForm.get('phone')?.dirty || contactForm.get('phone')?.touched)"
                        class="error">
                        Only Number.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="table-cell">Course<span>*</span></div>
            </td>
            <td>
                <div class="table-cell">
                    <select formControlName="course">
                        <option value=".NET">.NET</option>
                        <option value="Java Full Stack">Java Full Stack</option>
                        <option value="DevOps">DevOps</option>
                    </select>
                </div>
            </td>
        </tr>


        <tr>
            <td>
                <div class="table-cell">Status<span>*</span></div>
            </td>
            <td>
                <div class="table-cell">
                    <select formControlName="status">
                       
                        <option value="H1B">H1B Holder</option>
                        <option value="F1">F1 Student</option>
                        <option value="tps">TPS Holder</option>
                        <option value="gc">Green Card Holder</option>
                        <option value="usc">US Citizen</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr *ngIf="contactForm.get('status')?.value === 'F1'">
            <td><div class="table-cell">Graduation Date<span>*</span></div></td>
            <td>
              <div class="table-cell">
                <input type="date" formControlName="graduationDate" required>
              </div>
            </td>
          </tr>

          <tr *ngIf="contactForm.get('status')?.value === 'F1'">
            <td><div class="table-cell">University<span>*</span></div></td>
            <td>
              <div class="table-cell">
                <input type="text" formControlName="universityName" required>
              </div>
            </td>
          </tr>

        <tr>
            <td>
                <div class="table-cell">Note</div>
            </td>
            <td>
                <div class="table-cell">
                    <textarea id="message" formControlName="message" rows="4" cols="40"></textarea>
                </div>
            </td>
        </tr>
    </table>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>