@import url("../contactus/contactus.component.css");

select, input[type="date"]{
    width: 18vw;
    height: 5vh;
    font-size: clamp(1rem, 2vw, 1.1rem);
    border: 1px solid silver;
    border-radius: 3px;
}

select:focus{
    outline: none;
}

select{
    font-weight: bold;
}

section{
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;

}

section img{
    width: 31vw;
    height: 31vh;
    object-fit: contain;
}

@media screen and (max-width:600px) {
    select{
        height: 4vh;
        font-size: 14px;
    }
    h2{
        font-size: 17px;
    }
    
}