* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
}

form {
   margin: 9vh 0 0 30vw;
  
}

.table-cell {
    margin-top: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
button{
    height: 5vh; width: 9vw;
    text-align: center;
    margin-left: 6rem;
    margin-top: 1rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: bold;
    
}

input[type="email"], input[type="tel"], input[type="text"]{
       height: 5vh;
       width: 33vw;
       border-radius: 3px;
       border: 1px solid silver;
       padding-left: 1px;
       font-size: clamp(0.9rem, 2vw, 1.1rem);
}


input[type="email"]:focus, input[type="tel"]:focus, input[type="text"]:focus{
      outline: none;
      box-shadow: 1px 2px 2px 2px grey;
}

textarea{
    border-radius: 3px;
    border: 1px solid silver;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    padding-left: 1px;
}

textarea:focus{
    outline: none;
    box-shadow: 1px 2px 2px 2px grey;
}

span{
    color: red;
}
.error {
    background-color: red;
    font-size: clamp(0.9rem, 2vw, 1rem);
    color: white;
    font-weight: bold;
    width: 32vw;
    padding: 3px;
  }

  
@media screen and (max-width:800px) {
    
    form {
        margin: 9vh 0 0 10vw;
       
     }

     input[type="email"], input[type="tel"], input[type="text"]{
        height: 4vh;
        width: 33vh;
       
 }
 textarea{
    width: 33vh;
 }
 
 button{
    height: 4vh; width: 12vw;
}
h2{
    font-size: 19px;
}


}

@media screen and (max-width:600px) {
    h2{
        font-size: 17px;
    }
    
}