<header>
    <img src="./assets/comp/head-pack/image-logo/logo.jpg" alt="Company Logo">
    <div>Home</div>
    <div>Services</div>
    <div>Careers</div>
    <div>About Us</div>
    <div>Contact Us</div>
  
</header>

<nav>
    <img src="./assets/comp/head-pack/image-logo/phone.jpg" alt="Phone Logo">
    <a href="tel:832-643-9995">(936) 668-8366</a>

    <img src="./assets/comp/head-pack/image-logo/email.jpg" alt="Email Logo" style="margin-left: 1rem;">
    <div>contactus&#64;whitegoldconsultancys.com</div>
</nav>