<header>
    <img src="./assets/comp/head-pack/image-logo/logo.jpg" alt="Company Logo">

    <!-- the below code is for the hamburger menu -->
<div class="menu-toggle" (click)="toggleMenu()">
    <div class="bar" [ngClass]="{'open': isMenuOpen}"></div>
    <div class="bar" [ngClass]="{'open': isMenuOpen}"></div>
    <div class="bar" [ngClass]="{'open': isMenuOpen}"></div>
  </div>

  <div [ngClass]="{'show-menu': isMenuOpen, 'hide-menu': !isMenuOpen}">
    <div routerLink="/">Home</div>
    <div routerLink="/application">Services</div>
    <div>Careers</div>
    <div>About Us</div>
    <div  routerLink="/contact">Contact Us</div>

   </div>
    
  
</header>

<nav>

    <div class="set-img-address--tel">
        <img src="./assets/comp/head-pack/image-logo/phone.jpg" alt="Phone Logo">
        <a href="tel:832-643-9995">(936)668-8366</a>
    </div>
    

    <div class="set-img-address--tel">
        <img src="./assets/comp/head-pack/image-logo/email.jpg" alt="Email Logo" style="margin-left: 1rem;">
        <a href="mailto:contactus@whitegoldconsultancys.com">contactus&#64;whitegoldconsultancys.com</a>
    </div>
   
</nav>


